#listado{
    background-color: blanchedalmond;
    display: none;
}
#listReservar{
  background-color: blanchedalmond;
  display: none;
}
#listSorteos{
    background-color: blanchedalmond;
    display: none;
}
#listadoS{
    background-color: blanchedalmond;
}
body {
  background-color: black;
}

#lineaPrincipal {
  background-image: var(--bs-gradient);
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#logo {
  position: relative;
  width: 120px;
  height: 90px;
  border-radius: 50%;
}

li {
  list-style-type: none;
  font-weight: bold;
}
.caro2{
  color: black;
  font-size: 90px;
}
